<div class="new-make"> 
  <h2 >新規登録</h2>
</div>
    <%= form_for(resource, as: resource_name, url: root_path) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="new-account-wrapper">
        <div class="color-filter">
          <div class="text-form">

            <div class="field">
              <%= f.label :ニックネーム %><br />
              <%= f.text_field :nickname,class: "input-default", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email,class: "input-default", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :パスワード（６文字以上） %><br />
              <%= f.password_field :password,class:"input-default", autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :パスワード再確認 %><br />
              <%= f.password_field :password_confirmation, class:"input-default",autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "新規登録",class:"register-btn" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>




