<!DOCTYPE html>
<html>
  <head>
    <title>松江観光サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer >
      <div class="footer-wrapper">
        <p class="footer-catch"> あなたの人生の１ページに </p>
        <div class="account">
          <%= link_to 'ログイン', "#", class: "user footer-login" %>
          <%= link_to '新規登録', "#", class: "user footer-new-account" %>
        </div>
      </div>
    </footer>
  </body>
</html>
